<ul class="list-group col-md-4">
  <li class="list-group-item">
    <span class="badge">{{this.data1.totalPlanes}}</span>
    Total
  </li>
  <li class="list-group-item">
    <span class="badge">{{this.data1.airBorne}}</span>
    Airborne
  </li>
  <li class="list-group-item">
    <span class="badge">{{this.data1.grounded}}</span>
    Grounded
  </li>
  <li class="list-group-item">
    <span class="badge">{{this.data1.takingOff}}</span>
    Taking Off
  </li>
  <li class="list-group-item">
    <span class="badge">{{this.data1.landing}}</span>
    Landing
  </li>

</ul>